@font-face {
    font-family: "optima";
    src: url("../fonts/OPTIMA.ttf");
}

@font-face {
    font-family: "optima-bold";
    src: url("../fonts/OPTIMA_B.ttf");
}

body{
    overflow-x: hidden;
    font-family: optima;
}

header{
    background: #00193E;
    height:101px
}


.img-main img{
    /* height:769px; */
}

.second-layer{
    padding: 3%;
}

.second-layer img{
    /* height : 678px; */
    margin-left: 17%;
}

.text-secondL{
    position: absolute;
    margin-top: 10%;
    width: 25%;
    left: 2%;
    color: #000;
}

.text-secondL h4{
    text-transform: uppercase;
    font-size: 41px;
    /* font-family: "optima-bold"; */
}

.text-secondL p{
    font-size: 25px;
    width: 85%;
}

.text-secondL-btn{
    position: absolute;
    margin-top: 23%;
    right: 9%;
    color: #000;
    float: right;
}

.text-secondL-btn img{
    /* width: 43px; */
}

.third-layer{
    background: #EFF3F8;
    /* height: 788px; */
    padding: 5%;
}

#frontImage {
    /* height:630px; */
    left:50px; 
    position:absolute;
    top:25px; 
}

#backImage {
    /* height:670px; */
    margin-left:auto;
    margin-right:auto;
    position:relative; 
    left: 105px;
} 

.third-layer h4{
    font-size: 35px;
}

.third-layer p{
    font-size: 25px;
    margin-bottom: 30px;
}

.fourth-layer{
    padding: 5%;
}

#recipeImg {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    /* height: 272px; */
}

#scoopImg { 
    left:32%; 
    position:absolute;
    margin-top: 4%;
    /* height: 190px; */
    opacity: 0.8;
} 

.fourth-layer h4{
    width: 60%;
    margin: 0 auto;
    font-size: 35px;
    text-align: -webkit-center;
}

.fourth-layer p{
    margin: auto;
    font-size: 25px;
}

/* .gallery{
    margin-top: 25px;
    margin-bottom: 25px;
} */
.gallery .box{
    height: 344px;
    margin-top: 35px;
    margin-bottom: 20px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
}

.gallery .box img{
    /* width: 394px; */
}

.gallery .box .text{
    padding: 5%;
}

.gallery .box .text{
    color: #AD9558;
    font-size: 20px;
    font-family: Helvetica;
}

.gallery .box .text a{
    margin: 5px;
    color: #AD9558;
}

.gallery .box .text a .svgBox{
    position: absolute;
    margin-top: 21%;
    margin-left: -23.5%;
}

.vPlayer{
    position: absolute;
    top: 42%;
    left: 45%;
    cursor: pointer;
}
.fifth-layer{
    background: #FFF8F2;
    padding: 4%;
}

.img-diff{
text-align: center;
margin: 22px auto;
width: 85%;
line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;  
}

.fifth-layer .img-diff img{
   padding : 1%;
}

.fifth-layer .img-diff .column1-img{
    margin-top: 48%;
}

.fifth-layer .img-diff .column2-img{
    margin-top: 3%;
}
.fifth-layer .img-diff .column3-img{
    margin-top: 18%;
    margin-left: 1.5%;
    float: left;

}
.fifth-layer .img-diff .column4-img{
    margin-top: 54%;
    float: left
}

.fifth-layer h4{
    font-size: 30px;
    font-family: Helvetica;
    color: #AD9558;
    margin: 0 auto;
    text-transform: uppercase;
}

.btn-download{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    /* border-radius: 50px;
    border-color: #AD9558;
    font-weight: 600;
    color: #AD9558; */
}

.btn-download:not(:disabled):not(.disabled):active, .btn-download:hover {
    color: #fff;
    background-color:none !important;
    border-color:none !important;
}

.btn-know:not(:disabled):not(.disabled):active, .btn-know:hover {
    color: #fff;
    background-color:none !important;
    border-color:none !important;
}

.btn-download, .btn-know:focus{
    outline: 0;
    box-shadow: none !important
}

.btn-know{
margin: auto;
/* margin-top: 3%; */
/* margin-bottom: 3%; */
margin-left: -3%;
}


footer{
    background: #323232;
    height: 296px;
}

footer label{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px !important;
    font-family: Helvetica;
}

footer #subscribeForm{
    width: 46%;
    margin: 0 auto;
    text-align: center;
}

footer #searchBar{
    border-radius: 50px;
    width: 250px;
    background: #757575;
    border: 1px solid #fff;
    color: #fff
}

footer #searchBar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: Helvetica;
  }
.caption-top{
    text-align: left !important;
    right: 0;
    bottom: 19%;
    left: 10%;    
}

.carousel-top-indicator{
    right: 0;
    bottom: 7%;
    left: -8%;
    justify-content: left;
}

.carousel-top-indicator li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    padding-left: 0;
}

footer .footerL{
    color: #fff;
    width: 83%;
    margin: auto;
    font-size: 12px;
}

footer .footerL img{
    margin: 0 7px;
}

.footerL .col-sm-4{
    text-align: center;
}

.footerL a{
    text-decoration: none;
    color: #fff;
}
/* =================================================== */

.logo{
    margin-top: 1%;
    display: inline-block;
}

.nav-item{
   margin : 0 21px 0 0;
}

.nav-item .nav-link{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-family: Helvetica;
}

.btn-find{
    border-radius: 50px;
    width: 109px;
    background: #AD9558;
    border-color: #AD9558;
    color: #fff;
    font-family: Helvetica;
    font-size: 11px;
    margin-left: 3%;
    text-transform: uppercase;
}


@media (min-width: 375px) and (max-width: 785px) {
    .navbar-toggler{
        border-color: #AD9558;
    }
    
    .fifth-layer .img-diff img{
        margin-left: 0 !important;
    }

    .navbar-toggler-icon{
        font-size: 22px;
        padding-top: 7px;
        color: #AD9558;
    }

    .navbar-collapse{
        z-index: 999;
        background: #00193E !important;
        margin-left: 35%;
        text-align: right;
    }

    .navbar-nav{
        /* margin-left: 8% !important; */
        text-align: right;
    }

    .nav-item .nav-link {
        color: #fff;
    }

    .text-secondL-btn{
        margin-top: 4%;
    }

    .text-secondL-btn{
        width: 95px;
    }

    .navbar-brand img{
        margin-left: 0 !important;
    }
    .text-secondL {
        position: relative;
       width: 100%;
        margin: 5%;
        color: #000;
    }
    
    .second-layer img {
         margin-left: 0; 
    }
    
    #scoopImg {
        left: -1%;
        margin-top: 3%;
        opacity: 0.5;
    }

    #backImage{
        left: -1px;
    }

    #frontImage{
        left:12px
    }

    .caption-top {
        bottom: 2%;
        left: 5%;
    }  
    
    .carousel-top-indicator li {
        width: 10px;
        height: 10px;
    }
    .carousel-top-indicator {
        right: 0;
        bottom: -8%;
    }
    .caption-top button img{
        width: 95px
    }

    footer{
        height: 351px;
    }
    footer .navbar-nav{
        display: inline-block !important;
        text-align: justify
    }

    footer .nav-item{
        display: inline-block;
        text-align: justify;
    }

    footer .navbar-nav{
        margin-left: 0 !important;
    }

    footer #subscribeForm {
        width: 70%;
    }

    footer #subscribeForm img{
        margin-left: 2%
    }

   .footerL .col-sm-4{
       margin-top:3px
   }
}